#main{
    background-color: rgb(200, 193, 193);
    height:  500px;
    width: 400px;
    margin: 100px 500px ;

}
#screen{
    width: 300px;
    height: 40px;
    margin: 20px 45px;
    font-size: 30px;
    background-color: rgb(242, 247, 248);
}
.btn{
    width: 65px;
    height: 65px;
    margin-top: 25px;
    margin-left: 25px;
    font-size: 50px;
    background-color: white;
}
